<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>发布一个活动</title>
</head>
<body>
    <form method="post">
        活动标题 <input name="title"> <br/>
        活动开始时间 <input name="startTime"> <br/>
        活动结束时间 <input name="endTime"> <br/>
        是否可重复中奖 <select name="multiple"><br/>
                        <option value="true">可以</option><br/>
                        <option value="false">不可以</option><br/>
                      </select>
        奖品名称<input name="prizes[0].name"><br/>
        奖品个数<input name="prizes[0].counts"><br/>
        中奖权重<input name="prizes[0].weight"><br/>
        <input type="submit" value="tijiao">
    </form>
</body>
</html>