<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.drumbeatsoft.dao.HitPrizeMapper">
    <select id="findByActivityIdAndAccountId" resultType="com.drumbeatsoft.model.HitPrize">
        select * from hit_prize where ActivityId = #{arg0} and AccountId = #{arg1}
    </select>

    <insert id="save" parameterType="com.drumbeatsoft.model.HitPrize">
        insert into hit_prize(
            Id,
            PrizeId,
            ActivityId,
            PrizeName,
            AccountId,
            Status
        ) values(
            #{id},
            #{prizeId},
            #{activityId},
            #{prizeName},
            #{accountId},
            #{status}
        )
    </insert>

    <select id="findByPage" parameterType="String" resultType="com.drumbeatsoft.model.HitPrize">
        select * from hit_prize where ActivityId = #{activityId}
    </select>
</mapper>